<label for="inptAdda">Additional APAR</label>
<div class="row">
  <div class="col-sm-3">
    <input type="text" class="form-control" id="inptAdda" name="inptAdda" placeholder="PH12345">
  </div>
  <div class="col-sm-3">
    <button type="submit" name="btnAparAdd" class="btn btn-primary" value="Add">Add</button>
  </div>
</div>
<nav>
  <div class="nav nav-tabs" id="tabApars" role="tablist">
    {% for apar in trans.apars %}
    <button class="nav-link" id="nav-apar-{{apar.apar_number}}" data-bs-toggle="tab" data-bs-target="#nav-{{apar.apar_number}}" type="button"
            role="tab" aria-controls="nav-{{apar.apar_number}}" aria-selected="false">{{apar.apar_number}}
    </button>
    {% endfor %}
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  {%for apar in trans.apars %}
  <div class="tab-pane fade" id="nav-{{apar.apar_number}}" role="tabpanel" aria-labelledby="nav-apar-{{apar.apar_number}}">
      <iframe name="aparView" frame-btn="nav-apar-{{apar.apar_number}}" src="{{ url_for('edit_apar_data', transmittal_id=trans.id, apar_id=apar.id) }}"
              width="100%" height="300" style="border:1px solid #E0E0E0;"></iframe>
  </div>
  {% endfor %}
</div>
<script>

/*
var iFrames = $('[name="aparView"]')
Array.from(iFrames).forEach((frame) => {
  frame.onload = function() {
      frame.onload = function() {   //On iframe reloaded
        doReq('GET', "{{ url_for('get_transmittal_issues', trans_id=trans.id)}}", {},
         updateValidationMarkers, function() {} )
      }
  }
});
*/
</script>