<div class="modal fade" id="delAparModal" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="delModalLabel">Delete {{edit_apar.apar_number}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-primary" id="btnAparDel">Yes</button>
      </div>
    </div>
  </div>
</div>
<h1>{{edit_apar.apar_number}}</h1>
<div id="lcBox" class="form-control" style="margin-top: 10px;">
  <h4>Legal checklist</h4>
  {% for q in legal_checklist %}
  <div class="form-check" {% if q.parent != "" %} style="margin-left: 18px;" {% endif %}>
    <input class="form-check-input" type="checkbox" value="{{q.id}}" id="{{q.id}}" name="cbQuestion"
    parent="{{q.parent}}" {% if q.id in edit_apar.legal_checklist %} checked {% endif %}
    {% if q.must %} must-check {% endif %}>
    <label class="form-check-label" id="{{q.id}}" style="font-size:12px;"">
      {{q.text}}
    </label>
  </div>
  {% endfor %}
</div>
<div id="lbErrorLl" class="text-danger" errorFor="lcBox"></div>
<div id="boxHiper" class="form-control" style="margin-top: 10px;"
     {% if trans.apar_number != edit_apar.apar_number %} hidden {% endif %}>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="cbHiper" name="cbAdd" value="hp"
            {% if "hp" in edit_apar.legal_checklist %} checked {% endif %}
    >
    <label class="form-check-label" >
      HIPER
    </label>
  </div>
  <div id="boxHiperSub" class="form-control" >
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="cbAdd" value="dl"
            {%if "dl" in edit_apar.legal_checklist %} checked {% endif %}
    >
    <label class="form-check-label" >
      Data loss
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="cbAdd" value="fl"
            {%if "fl" in edit_apar.legal_checklist %} checked {% endif %}
    >
    <label class="form-check-label" >
      Function Loss
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="cbAdd" value="pf"
            {%if "pf" in edit_apar.legal_checklist %} checked {% endif %}
    >
    <label class="form-check-label" >
      Perfomance
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" name="cbAdd" value="ps"
            {%if "ps" in edit_apar.legal_checklist %} checked {% endif %}
    >
    <label class="form-check-label" >
      Product Specific
    </label>
  </div>
  </div>
</div>
<div style="margin-bottom: 48px;"></div>
<h4>Closing code</h4>
<select class="form-select" name="selCode" id="selCode" >
  <option value="">Select code</option>
  {% for code in cl_codes %}
    <option {% if code == edit_apar.closing_code %} selected  {% endif %} value="{{code}}">{{code}}</option>
  {% endfor %}
</select>
<div id="lbErrorCode" class="text-danger" errorFor="selCode"></div>
<table class="table" id="tblClosingText">
  <thead>
    <tr>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {%for field in closing_fields%}
      <tr>
        <th scope="row">
          <a>{{field.name}}</a>
          <textarea
          id="ta{{field.id}}"
          name="clField {{field.code}}:{{field.name}}"
          class="form-control"
          rows="5"
          cinfo="true"
          ccode="{{field.code}}"
          cname="{{field.name}}"
          style="margin-bottom: 10px;"
          >{{apar_ctext[field.name]}}</textarea>
          <div class="invalid-feedback" errorFor="ta{{field.id}}"></div>
        </th>
      </tr>
    {%endfor%}
  </tbody>
</table>
<div class="row" style="margin-top: 20px;">
  <div class="col">
    <button type="submit" name="btnSave" value="Save" class="btn btn-outline-success">Save</button>
      {% if edit_apar.apar_number != trans.apar_number %}
    <input type="button" id="btnDel" name="btnDel" value="Delete" class="btn btn-outline-danger"
    data-bs-toggle="modal" data-bs-target="#delAparModal"/>
      {% endif %}
  </div>
</div>
<script type="text/coffeescript">

showHideClosingFileds = (current_code, fields) ->
  for field in fields
    do (field) ->
      fcode = field.getAttribute "ccode"
      parent = field.parentElement
      if fcode != current_code
        parent.style.display = "none"
      else
        parent.style.display = ""

showHideLegalList = (checkboxes) ->
  lastParent = null
  for cb in checkboxes
    do (cb) ->
      pquestion = cb.getAttribute "parent"
      if pquestion == ""
        lastParent = cb
      else if pquestion != "" and lastParent != null
        console.log lastParent.id
        if pquestion != lastParent.id
          return
        if lastParent.checked
          setEnabled(cb, true)
        else
          setEnabled(cb, false)

validateClosingField = (restr, field) ->
    type = field.getAttribute "cname"
    code = field.getAttribute "ccode"
    text = field.value
    key = type + ':' + code
    error = validateInput restr, key, text
    console.log "Error:" + error
    if error != ''
      setElementError(field, true)
      setError(field.id, error, true)
    else
      setElementError(field, false)
      setError(field.id, error, false)

validateCheckBoxes = (checkboxes, container) ->
  errorMsg = ""
  lastParent = null
  for cb in checkboxes
    do (cb) ->
      if !cb.checked and cb.hasAttribute('must-check')
        console.log "Must", cb.id
        errorMsg =  "Question " + cb.id + " must be checked."
        return

  if errorMsg != ""
    setError("lcBox", errorMsg, true)
    setElementError(container, true)
    return

  setElementError(container, false)
  setError("lcBox", "", false)

checkClosingCode = (selElement) ->
  setElementError(selElement, false)
  setError("selCode", "", false)

  if selElement.value == ""
    setError("selCode", "Closing code must be selected.", true)
    setElementError(selElement, true)

checkHiperChecks = (cbMain, cbAll, contSub) ->
  if !cbMain.checked
    for cb in cbAll
        do (cb) ->
          cb.checked = false
    contSub.style.display = "none"
  else
    contSub.style.display = ""


processAparEditSubTab = ->
    closingInfoFields = $("textarea[cinfo='true']")
    cBoxesLegal = $("input[name='cbQuestion']")
    cbContainer = $("#lcBox")[0]
    btnAparDel = $("#btnAparDel")[0]
    selCode = $("#selCode")[0]
    cBoxesHiper = $("input[name='cbAdd']")
    contHiperSub = $("#boxHiperSub")[0]
    cbHiper = $("#cbHiper")[0]
    fRestrictions =
    {% for field in closing_fields %}
    "{{field.name}}:{{field.code}}":
      linelen: {{field.linelen}}
      maxsize: {{field.maxsize}}
      regexp: "{{field.regexp}}"
      isUrgent: "{{field.is_urgent}}"
    {% endfor %}

    cbContainer.onclick = ->
        validateCheckBoxes(cBoxesLegal, cbContainer)
        showHideLegalList(cBoxesLegal)

    selCode.onchange = ->
        console.log "selcode"
        code = selCode.value
        showHideClosingFileds(code, closingInfoFields)
        checkClosingCode(selCode)

    console.log btnAparDel
    btnAparDel.onclick = ->
        console.log "onclick"
        url = '/delete/apar/{{edit_apar.id}}'
        doReq("DELETE", url, null, redirProd = () -> window.location.replace "/edit/{{trans.id}}/apars", null)

    cbHiper.onclick = ->
      checkHiperChecks(cbHiper, cBoxesHiper, contHiperSub)

    for field in closingInfoFields
        do (field) ->
            validateClosingField(fRestrictions, field)
            field.onkeyup = ->
                validateClosingField(fRestrictions, field)

    checkClosingCode(selCode)
    showHideClosingFileds('{{edit_apar.closing_code}}', closingInfoFields)
    validateCheckBoxes(cBoxesLegal, cbContainer)
    showHideLegalList(cBoxesLegal)
    checkHiperChecks(cbHiper, cBoxesHiper, contHiperSub)

# END processAparEditSubTab

currentEditApar = "{{edit_apar}}"
if currentEditApar != "None" or ""
  processAparEditSubTab()
  return
</script>