<label for="selHold">HOLD type</label>
<div class="row">
  <div class="col-sm-3">
    <select class="form-select" name="selHold" id="selHold" >
      {% for key in hold_fields.keys() %}
        <option value="{{key}}">{{key}}</option>
      {% endfor %} 
    </select>
  </div>
  <div class="col-sm-3">
    <button type="submit" name="btnHoldAdd" id="btnHoldAdd" value="Add" class="btn btn-primary">Add</button>
  </div>
</div>
<table class="table" id="tblHolds">
  <thead>
    <tr>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {%for hold in trans.holds%} 
    <tr>
      <th scope="row">
        <a>++{{hold.type}}</a>
        <textarea class="form-control hold-edit" rows="5" style="margin-bottom: 10px;"
           name="hlField {{hold.id}}"  type="{{hold.type}}">{{hold.text}}</textarea>
        <div class="invalid-feedback" errorFor="hlField {{hold.id}}"></div>
        <button type="submit" class="btn btn-danger" name="btnDel" value="{{hold.id}}">Delete</button>
      </th>
    </tr>
    {%endfor%} 
  </tbody>
</table>
{%if trans.holds|length > 0 %}
<input type="submit" name="btnSave" value="Save" class="btn btn-outline-success"/>
{% endif %}
<input type="hidden" id="val" name="valid" value="false">
<script>
var hRestrictions = JSON.parse(JSON.stringify({{ hold_fields | tojson }}));
var btnHoldAdd = $("#btnHoldAdd")[0];
var holdEdits = $(".hold-edit");
var selHold = $("#selHold")[0];
var valFlag = $("#val")[0];

var validateHoldInput = function(editBox) {
  var currHoldType = editBox.getAttribute("type");
  var name = editBox.getAttribute("name");
  var text = editBox.value;
  var currRest = {
    regexp: hRestrictions[currHoldType][0],
    linelen: hRestrictions[currHoldType][1],
    maxsize: hRestrictions[currHoldType][2],
    isUrgent: true
  };
  var error = validateInput(currRest, text);
  console.log(currRest, error);
  if (error !== '') {
    console.log(currHoldType + "error:" + error);
    setElementError(editBox, true);
    setError(name, error, true);
    return false;
  }
  setElementError(editBox, false);
  setError(name, '', false);
  return true;
};

var processHoldsTab = function() {
  for (var i = 0; i < holdEdits.length; i++) {
    (function(editBox) {
      validateHoldInput(editBox);
      editBox.onkeyup = function() {
        validateHoldInput(editBox);
      };
    })(holdEdits[i]);
  }
};

processHoldsTab();
</script>