<!doctype html>
<html lang="en" data-bs-theme="light">
  {% include "head.html" %}
  <body>
    <form method="POST">
    <div class="row justify-content-center" style="margin-top: 24px;">
       {% include "navbar.html" %}
        <div class="col-sm-8 uicomp">
          <div class="card border-0">
            <div class="card-body" style="padding-bottom: 40px;">
                {% block content %}
                {% endblock %}
            </div>
          </div>
        </div>
    </div>
{% block style %}
{% endblock %}
{% block script %}
{% endblock %}
    </form>
  </body>
</html>